{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">Register</h4>

            <form method="post">
              {{ form_errors(registrationForm) }}

              {% if app.user %}
                <div class="mb-3">
                  You are logged in as {{ app.user.userIdentifier }}
                </div>
              {% endif %}

    {{ form_start(registrationForm) }}
              <div class="col">
                <label for="inputName">Name</label>
                {{ form_widget(registrationForm.name, { 'attr': {'class': 'form-control', 'autocomplete': 'username', 'required': 'required', 'autofocus': 'autofocus'} }) }}
              </div>

              <div class="col">
                <label for="inputPassword">Password</label>
                {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control', 'autocomplete': 'new-password', 'required': 'required'} }) }}
              </div>

              <div class="col">
                <div class="checkbox mb-3">
                  {{ form_row(registrationForm.agreeTerms) }}
                </div>
              </div>

              <button class="btn btn-lg btn-primary" type="submit">
                Register
              </button>
    {{ form_end(registrationForm) }}

            </form>

            <div class="text-center">
              <a href="{{ path('app_default') }}" class="btn btn-link">Return to default page</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
