{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">Welcome to my TODO application !</h4>
            <div>
                {% if app.user %}
                    <div class="row mb-3">
                        You are logged in as {{ app.user.userIdentifier }}
                    </div>
                    <a class="btn btn-primary" href="{{ path('app_user_show', { id: app.user.id }) }}">See my tasks</a>
                {% endif %}
                <div>
                    If you already have an account log in !
                    <a class="btn btn-primary m-1" href="{{ path('app_login') }}">Log in</a>
                </div>
                <div>
                    If you don't have an account sign up !
                    <a class="btn btn-primary m-1" href="{{ path('app_register')}}">Register page</a>
                </div>
                {% if app.user %}
                    <div>
                        If you want to log out, click below
                        <a class="btn btn-secondary m-1" href="{{ path('app_logout')}}">Log out</a>
                    </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
