{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to my TODO application !</h1>

    {% if app.user %}
        <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}
        <br/>
        Click here to view your tasks
        <br/>
        <a href="{{ path('app_user_show', { id: app.user.id }) }}">See my tasks</a>
    </div>
    {% endif %}
    <br/>
    If you already have an account log in !
    <br/>
    <a href="{{ path('app_login') }}">Log in</a>
    <br/>
    If you don't have an account sign up !
    <br/>
    <a href="{{ path('app_register')}}">Register page</a>
    <br/>
    If you want to log out, click below
    <br/>
    <a href="{{ path('app_logout')}}">Log out</a>

</div>
{% endblock %}
