{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">{{ user.name }}, here is your TODO list</h4>

            <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">

            <table class="table mb-4">
              <thead>
                <tr>
                  <th scope="col">Task name</th>
                  <th scope="col">Creation date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
              {% for task in user.tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.creationDateString }}</td>
                    <td>{{ task.status | trans }}</td>
                    <td><a class="btn btn-warning ms-1" href="{{ path('app_task_edit', {'id': task.id}) }}">Edit</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div>
              <a class="btn btn-primary m-2" href="{{ path('app_task_new') }}">Create a new task</a>
          </div>
            <div class="w-100"></div>
            <div class="d-flex justify-content-end">
              <a class="btn btn-secondary m-2" href="{{ path('app_logout')}}">Log out</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
