{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    Tasks
    <ul>
        {% for task in user.tasks %}
            <li>{{ task.name }}  <a href="{{ path('app_task_edit', {'id': task.id}) }}">Edit</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_task_new') }}">Create a new task</a>

    <br/>
    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
